@import '../core/Reset.scss';
@import '../core/Variables.scss';


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:$footerBackgroundColor ;
    color: $footerTextColor;
    &__small{
        font-size: 14px;
    }

}