@import '../core/Variables.scss';

.header {
    width: 100%;
    background-color: $headerBackgroundColor;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-top: 18px;

    &__candyspaceIcon {
        width: 80px;
        height: 61px;

        @media (min-width:768px) {
            width: 90;
            height: 71px;
        }

        @media (min-width: 768px) {
            width: 100px;
            height: 81px;
        }

    }

    &__title {
        font-size: 16px;
        font-family: $font;
        color: $darkColor;
        font-weight: 460;

        @media (min-width:768px) {
            font-size: 18px;
        }

        @media (min-width:1024px) {
            font-size: 22px;
        }
    }
}