@import '../core/Variables.scss';

.itemContainer {
    display: grid;
    margin-bottom: 22px;
    &:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease;
    }
    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr;
    }
    &__img {
        display: inline-flex;
        justify-content: flex-end;

        &--item {
            width: 200px;
            height: 200px;

            @media (min-width:768px) {
                width: 180px;
                height: 180px;
            }

            @media (min-width:1024px) {
                width: 300px;
                height: 300px;
            }

        }
    }

    &__info {
        width: 200px;
        height: 200px;
        background-color: $infoBackgroundColor;
        display: inline-flex;
        align-items: center;

        @media (min-width:768px) {
            width: 180px;
            height: 180px;
        }

        @media (min-width:1024px) {
            width: 300px;
            height: 300px;
        }

        &--item {
            font-size: 16px;
            color: $textColor;
            padding: 8px;
            font-family: $font;

            @media (min-width:768px) {
                font-size: 18px;
            }

            @media (min-width: 1024px) {
                font-size: 22px;
            }
        }

    }

}