
//colors

$darkColor: rgba(33,42,52,1.0);
$textFooterColor: rgba(141,148,158,1.0);
$infoBackgroundColor: #F6F8F9;
$headerBackgroundColor: #fff;

//font

$font: Arial, Helvetica, sans-serif;