
//colors

$footerBackgroundColor: rgba(33,42,52,1.0);
$textColor: rgba(141,148,158,1.0);
$infoBackgroundColor: #F6F8F9;
$headerBackgroundColor: #fff;
$mainText: #323232;

//font

$font: Arial, Helvetica, sans-serif;